<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">

    <script type="module" src="./components/button-cart-component.js"></script>
    <script type="module" src="./components/table-products-component.js"></script>
    <script type="module" src="./components/spinner-loading-component.js"></script>
    <script type="module" src="./page-products.js"></script>
</head>
<body>
    <header class="header-app">
        <div class="title-app">Timozon</div>
        <button-cart></button-cart>
        <div class="page title-page">Productos</div>
    </header>

    <main>
        <table-products id="tTabProducts"></table-products>
    </main>
    
    <spinner-loading class="hidden" status="none"></spinner-loading>
</body>
</html>