button.btn-login {
    font-size: calc(100% - 0.5rem);
    background-color: inherit;
    border: solid 3px white;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    
    &.shortname {
        aspect-ratio: 1;
        border-radius: 50%;
    }
}

section#sctExtraOptions {
    position-area: bottom;
    display: flex;
    flex-direction: column;
    font-size: calc(100% - 0.5rem);
}