<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="./lottery-draws.js"></script>
</head>
<body>
    <header>Sorteos de la Lotería Nacional</header>
    <main>
        <article>
            <label>Sorteos</label>
            <table id="tTabLotteryDraw">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Denominación</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </article>
    </main>
</body>
</html>