<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/views/style.css">
    <style>
        main {
            display: flex;
            justify-content: center;
            padding: 1rem;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        a[category-name] {
            font-weight: bold;
            text-decoration: none;
            color: inherit;
        }
    </style>

    <script type="module" src="/views/pages/categories.js"></script>
    <script src="/views/webcomponents/header-app.component.js" type="module"></script>
    <script src="/views/webcomponents/menu-app.component.js" type="module"></script>
</head>
<body>
    <header-app></header-app>
    <menu-app active="categories"></menu-app>

    <header>
        <h1 class="page-title">Categorías</h1>
    </header>
    <div class="spinner"></div>

    <main>
        <table id="tTabCategories">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Productos</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <template id="tTmpCategory">
            <tr>
                <td>
                    <a category-name></a>
                </td>
                <td products-quantity></td>
                <td>
                    <img image-first-product alt="Primer producto de la categoría">
                </td>
            </tr>
        </template>
    </main>

    <!-- <template id="tTmpSpinner"> -->
    <!-- </template> -->
</body>

</html>