<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/style.css">
    <script src="/views/webcomponents/header-app.component.js" type="module"></script>
    <script src="/views/webcomponents/menu-app.component.js" type="module"></script>
</head>
<body>
    <header-app></header-app>
    <menu-app active="beginning"></menu-app>
    <main>
        <h1 class="page-title">Bienvenido</h1>
        <p>En nuestro sitio podrá encontrar los productos con los que estar más guapo.</p>
    </main>
</body>
</html>