<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./style.css">
    <style>
        body {
            display: grid;
            place-content: center;
        }
    </style>

    <script src="../components/LoginFormComponent.js" type="module" defer></script>
    <script type="module">
        document.addEventListener('DOMContentLoaded', setupLoginEvents)

        function setupLoginEvents(e) {
            const nForm = document.querySelector('login-form');
            nForm.addEventListener('successfulvalidation', storeTokenAndGotoSeriesPage);
            nForm.addEventListener('wrongvalidation', reportValidationError);
        }

        function storeTokenAndGotoSeriesPage(e) {
            const token = e.detail.token;
            window.sessionStorage.setItem('token', token);
            window.location = './choose_serie.html';
        }

        function reportValidationError(e) {
            const message = e.detail.message;
            alert(message)
        }

    </script>
</head>
<body>
    <login-form></login-form>
</body>
</html>