<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script type="module" src="../components/selector-categories-component.js"></script>
    <script type="module" src="../components/spinner-waiting-component.js"></script>
    <script type="module" src="./categories.js"></script>
</head>
<body>
    <h1>Categorías</h1>

    <selector-categories></selector-categories>

    <spinner-waiting></spinner-waiting>
</body>
</html>